nav.navbar .navbar-nav a.nav-link {
  color: rgb(0, 0, 0);
  font-size: 14px;
}

nav.navbar {
  border-top: 1px solid rgb(221, 221, 221);
  border-width: thin;
  border-bottom: double rgb(0, 0, 0);
}

h1, h2 {
  font-size: 20px;
  font-weight: bolder;
}
